*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    /* background-image: url("./images/bg.jpg"); */
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("./images/bg.jpg");
  }
  /* img {
    opacity: 0.5;
  } */